@page
@model IndexModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using CRUDelicious.CORE
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <a href="NewChef">Add a Chef</a>
</div>
<div class="d-flex justify-content-around">
    <div>
        <p>Check out The Chef's</p>
        <hr />
        @if (this.Model.allChefs == null || this.Model.allChefs.Count == 0)
        {
            <p>There are No Chefs</p>
        }
        else
        {
            <table class="table">
                <thead>
                    <tr>
                        <td>Name</td>
                        <td>Age</td>
                        <td># of Dishes</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Chef c in this.Model.allChefs)
                    {
                    <tr>
                        <td>@c.ChefName</td>
                        <td>@c.Age</td>
                        @if (@c.AllDishes.Count == 0 || @c.AllDishes.Count == null)
                        {


                            <td>No dish</td>
                        }
                        else
                        {
                            <td>@c.AllDishes.Count</td>
                        }

                    </tr>
                    }
                </tbody>
            </table>
        }
    </div>
    
</div>