@page
@model CRUDelicious.Pages.NewDishModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using CRUDelicious.CORE
@{
}

<div class="container">
    <form method="post">
        <div class="table-responsive">
            <table class="table">
                <tbody>
                    <tr>
                        <td><label>Chef's Name</label></td>
                        <td><label>Tastiness</label></td>
                        <td><label>Description</label></td>
                    </tr>
                    <tr>
                        <td><input asp-for="@this.Model.Input.ChefName" /></td>
                        <td>
                            <select asp-for="@this.Model.Input.Tastiness" asp-items="Model.likeness">
                                <option value="">Pick one</option>
                            </select>
                        </td>
                        <td><textarea asp-for="@this.Model.Input.Description" ></textarea></td>
                    </tr>
                    <tr>
                        <td><label>Name of Dish</label></td>
                    </tr>
                    <tr>
                        <td><input asp-for="@this.Model.Input.DishName" /></td>
                    </tr>
                    <tr>
                        <td><label># of Calories</label></td>
                    </tr>
                    <tr>
                        <td><input asp-for="@this.Model.Input.Calories" /></td>
                        <td><input type="submit" /></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </form>
</div>